.action-flex-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px;
}

.tiny-flex-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tiny-flex-box > * {
    margin-left: 8px;
}

.action-flex-box > * {
    margin: 5px 10px;
}

.action-button {
    margin: 0 20px;
}

@media only screen and (max-width: 1024px) {
    .action-flex-box > * {
        flex-basis: 100%;
    }
}
