.table-container {
    width: 100%;
    /*height: 100%;*/
    padding: 20px;
    overflow-x: auto;
}

.content-table {
    border-collapse: collapse;
    text-align: left;
    color: white;
    width: 100%;
}

.content-table th {
    padding: 15px;
    font-size: 2rem;
    color: black;
}

.content-table td {
    font-size: 1.5rem;
    padding: 10px 15px;


    border-bottom: 5px solid white;
    border-right: 5px solid white;
}

tbody > tr:hover {
    opacity: 0.8;
    transition: transform .2s;
    transition-delay: 0.01s;
    transform: scale(1.01);

    cursor: pointer;
}

td.itemType,
td.description {
    background-color: var(--scots-red);
}

td.date,
td.house {
    background-color: var(--scots-grey1);
}

td.actions {
    background-color: #f2f2f2;
}

td.name ,
td.status {
    background-color: var(--scots-grey2);
}

@media only screen and (max-width: 1024px) {
    .table-container {
        width: calc(100vw - 40px);
        margin: 0 auto;
        overflow-x: auto;
    }
}
