.menu-flex-box {
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-flex-box > * {
    padding: 15px;
}

.menu-flex-box > *:hover {
    background: var(--scots-grey1);

    transition-duration: 0.1s;
}
.menu-flex-box a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.SelectedLink {
    background-color: var(--scots-grey2);
}
