/*start::Grid Shit*/
.grid-container {
  display: grid;
  grid-template-areas:
          'header header'
          'menu menu'
          'content content'
          'footer footer';
}

.header {
  grid-area: header;
  background: #ffffff url("/img/banner/main_banner.png") no-repeat center left;
  background-size: cover;

  height: 250px;
}

.menu {
  grid-area: menu;

  /*temp*/
  min-height: 5vh;
  background-color: var(--scots-red);
}

.content {
  grid-area: content;

  /*temp*/
  min-height: 60vh;
  /*background-color: var(--scots-lightgrey);*/
}

.footer {
  grid-area: footer;

  min-height: 20vh;
  overflow-x: auto;
  background-color: var(--scots-grey2);

  color: white;
}
/*Grid Shit*/


/*Responsive*/

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-areas:
            'header header'
            'menu menu'
            'content content'
            'footer footer';
    grid-gap: 10px;
  }

  .header {
    background: #ffffff url("/img/banner/mobile_banner.png") no-repeat center left;
    background-size: 100vw auto;

    min-height: 20vh;
    height: initial;
  }
}

@media only screen and (max-width: 728px) {
  .header {
    background: #ffffff url("/img/banner/mobile_banner.png") no-repeat center left;
    background-size: 100vw auto;

    min-height: 15vh;
    height: initial;
  }
}
/*Responsive*/

